*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #333;    
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color:#fff;
    }
#header{
   width: 100%;
    height: 100vh;
    background-image: url(WebsitePic.jpeg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 100px;
    
}
nav ul li{
    display: inline-block;
    list-style:  none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    position: relative
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff4c2c;
    position: absolute;
    left: 0;
    bottom: -6px;
}
nav ul li a:hover::after{
    width: 100%;
    transition: all 0.3s ease-in-out;
    background: #ff4c2c;
    color: #333;
}
.header-text{
    margin-top: 10%;
    font-size: 30px;
    color: #fff;
}
.header-text p{
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.header-text h1{
    font-size: 60px;
    margin-bottom: 20px;
    color: #fff;
}
.header-text h1 span{
    font-size: 60px;
    color: #ff4c2c;
}
/*-- about section --*/
#about {
    margin-top: 550px; /* Adjust this to match your header height */
    padding: 100px 0;
    color: #fff;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    border-radius: 10px;
    width: 65%;
}
.about-col-2{
    flex-basis: 60%;
}
.subtitle{
    font-size: 40px;
    color: #ff4c2c;
}
.about .subtitle {
    margin-top: 0; /* not sure if this will work */
}
.about {
    padding: 100px 0; /* i will adjust as needed */
}
.about-col-2 p{
    font-size: 20px;
    margin-top: 20px;
    color: #fff;
    line-height: 1.5;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff4c2c;
    position: absolute;
    left: 0;
    bottom: -6px;
}
.tab-links:hover::after{
    width: 100%;
    transition: 0.3s;
    background: #ff4c2c;
    color: #333;
}
.tab-links.active-link::after {
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    color: #fff;
    font-size: 18px;
}
.tab-contents ul li span{
    color: #ff4c2c;
    font-size: 16px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*-- projects section --*/
#portfolio{
    padding-top: 50px;
}
.subtitle{
    font-size: 40px;
    color: #ff4c2c;
}
.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 350px;
}

.work img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 10px;
    display: block;
    transition: transform 0.3s ease-in-out;
}
.work:hover img {
    transform: scale(1.1);
}
.layer{
    width: 100%;
    height: 0%;  
    background: linear-gradient(rgba(0,0,0,0.6), #ff4c2c);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;   
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.3s ease-in-out;
    color:#fff
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
}
.layer p{
    font-size: 16px;
    margin-bottom: 20px;
    color: #fff;
}
.layer a {
  margin-top: 20px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.layer a i {
  color: #ff4c2c;
  font-size: 24px;
}
.work:hover .layer {
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: 50px; /*-- work on fixing this --*/
    border: 1px solid #ff4c2c;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #ff4c2c;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.btn:hover{
    background: #ff4c2c;
    color: #fff;
}
/*-- contact section --*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
#contact{
    padding: 100px 0;
}
#contact p{
    font-size: 20px;
    margin-top: 20px;
    color: #fff;
    line-height: 1.5;
}
#contact p i{
    color:#ff4c2c;
    margin-right: 15px;
    font-size: 20px;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff4c2c;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #ff4c2c;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.btn.btn2{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff4c2c;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #ff4c2c;
    background-color: #080808;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.btn.btn2:hover{
    background: #ff4c2c;
    color: #fff;
}
.subtitle{
    font-size: 40px;
    color: #ff4c2c;
}
.subtitle p{
    font-size: 16px;
    color: #fff;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a i{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #fff;
    display: inline-block;
    transition: tansform 0.5s ease-in-out;
}
.social-icons a i:hover{
    color: #ff4c2c;
    transform: translateY(-5px);

}
.contact-right form{
    width: 100%;

}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #272626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    margin-top: 30px;
}
.copyright p{
    font-size: 12px;
    color: #777777;
}
/*-- media queries [THIS SECTION IS STILL A WORK IN PROGRESS]--*/
@media only screen and (max-width: 768px){
    .header-text h1{
        font-size: 40px;
    }
    .header-text p{
        font-size: 16px;
    }
    .header-text{
        margin-top: 20%;
    }
    .about-col-1 img{
        width: 100%;
    }
    .about-col-2{
        flex-basis: 100%;
        margin-top: 20px;
    }
    .tab-titles{
        flex-direction: column;
        margin-bottom: 20px;
    }
    .tab-links{
        margin-right: 0;
        margin-bottom: 10px;
    }
    
}